.DS_Store
~$nglois-Morency-Serveur2-TPFinal-Rapport.docx
/node_modules
thumbnails/thumbnail-file_example_MP4_1920_18MG.mp4.png
thumbnails/thumbnail-sample-5s.mp4.png
thumbnails/thumbnail-sample-10s.mp4.png
